name: Go

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Install Go tools
        run: |
          make tools

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Build
        run: make build
